.form{
  display: flex;
  height: 60px;
  & input{
  align-self: center;
  border:1px solid #414144;
    border-radius: 6px;
    height: 36px;
    width: 176px;
    margin-left: 24px;
    padding: 10px;
    color: #FFFFFF;
  }
  .name{
    width: 733px;
    margin-left: 132px;
  }
}